import * as S from './styled'

const {{pascalCase name}} = () => {
return (
    <>
      <h1>{{pascalCase name}}</h1>
    </>
  )
}

Index.getInitialProps = async () => ({
  namespacesRequired: ['{{dashCase name}}'],
})

export default {{pascalCase name}}
